

#root{
 width: 428px;
 height: 926px;
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 align-items:center;
 flex-wrap: wrap;
 background-color: transparent;

}


/*layout1*/

#logo {
position: absolute;
left: 55px;
width: 320px;
height: 320px;
top: -43px;
justify-content: center;
z-index: 2;
}

#blueLine{
position: absolute;
width: 435px;
height: 180px;
left: 1px;
top: 122px;
}

#inputEmailLogin {
position: absolute;
width: 295px;
height: 51px;
left: 84px;
top: 335px;
font-size: 20px;
color:black;
border-radius:7px;
border-color: transparent;
background-color:rgba(217, 217, 217, 0.34);
}

#pinEmail {
position: absolute;
width: 33.43px;
height: 30px;
left: 45px;
top: 347px;
z-index: 2;    
}

#passWordLog{
position: absolute;
width: 295px;
height: 51px;
left: 84px;
top: 420px;
font-size: 20px;
color:black;
border-radius:7px;
border-color: transparent;
background-color:rgba(217, 217, 217, 0.34);
}

#pinPassword {
position: absolute;
width: 33.43px;
height: 30px;
left: 45px;
top: 430px;
z-index: 2; 

}
#buttonLogin{
position: absolute;
width: 188px;
height: 45px;
left: 122px;
top: 520px;
text-align: center;
font-size: 20px;
font-family: 'Roboto';
font-weight: 800;
line-height: 23px;
color: rgba(97, 93, 93, 0.71);
border-radius:20px;
background-color: rgba(195, 122, 55, 0.41);
border-color: transparent;
}

#buttonGoogle {
position: absolute;
width: 295px;
height: 51px;
left: 70px;
top: 605px;
color: rgba(97, 93, 93, 0.71);
border-radius:20px;
font-size: 20px;
font-weight: 800;
background-color:rgba(217, 217, 217, 0.34);
border-color: transparent;

}

#giM {
position: absolute;
width: 29px;
height: 29px;
left: 76px;
top: 617px;
z-index: 1;
    
}

#questionLog {
position: absolute;
width: 302px;
height: 39px;
left: 70px;
top: 710px;
font-family: 'Roboto';
font-weight: 600;
font-size: 21px;
line-height: 25px;
text-align: center;
color: #615959;
z-index: 2;
}


#buttonSignupLogin{
position: absolute;
background-color: transparent;
border-color: transparent;
font-size: 20px;
color:rgba(9, 106, 217, 1);
width: 90px;
height: 39px;
left: 170px;
top: 775px;
font-family: 'Roboto';
font-weight: 700;
font-size: 21px;
line-height: 25px;
text-align: center;
text-decoration-line: underline;
}

/*view 2*/
/*view 2*/

#logo2 {
    position: absolute;
    left: 55px;
    width: 310px;
    height: 310px;
    top: 00px;
    justify-content: center;
    z-index: 2;
}

#welcomeview {
    position: absolute;
    left: 45px;
    width: 350px;
    height: 211px;
    top: 270px;
    justify-content: center;
    z-index: 2;
}

#emailinputRegister {
    position: absolute;
    width: 260px;
    height: 51px;
    left: 110px;
    top: 523px;
    font-size: 20px;
    color: black;
    border-radius: 7px;
    border-color: transparent;
    background-color: rgba(217, 217, 217, 0.34);
}

#pinEmail2 {
    position: absolute;
    width: 33px;
    height: 32px;
    left: 59px;
    top: 535px;
    z-index: 2;
}

#passwordinputRegister {
    position: absolute;
    width: 260px;
    height: 51px;
    left: 110px;
    top: 596px;
    font-size: 20px;
    color: black;
    border-radius: 7px;
    border-color: transparent;
    background-color: rgba(217, 217, 217, 0.34);
}

#pinPassword2 {
    position: absolute;
    width: 33px;
    height: 30px;
    left: 59px;
    top: 601px;
    z-index: 2;
}

#btnCreateAccount {
    position: absolute;
    width: 188px;
    height: 45px;
    left: 120px;
    top: 701px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 800;
    line-height: 23px;
    color: rgba(97, 93, 93, 0.71);
    border-radius: 20px;
    background-color: rgba(195, 122, 55, 0.41);
    border-color: transparent;
}

#questionbacklog {
    position: absolute;
    width: 292px;
    height: 32px;
    left: 66px;
    top: 761px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #615959;
    text-align: center;
    z-index: 2;
}

#btnlogin {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    color: rgba(9, 106, 217, 1);
    width: 131px;
    height: 42px;
    left: 146px;
    top: 800px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;
}

/* Here start View 3*/
textarea { 
    width: 300px; 
    height: 150px;
}
    
#logoHome {
    position: absolute;
    width: 331px;
    height: 75px;
    left: 33px;
    top: 47px;
    }
    #userInputPost{
    font-family: 'Roboto';
    position: absolute;
    width: 302px;
    height: 87px;
    left: 22px;
    top: 712px;
    background: rgba(62, 138, 162, 0.34);
    border-radius: 10px;
    color:black
    }
    #btnSend {
    font-family: 'Roboto';
    position: absolute;
    width: 44px;
    height: 26px;
    left: 334px;
    top: 745px;
    background-color:rgba(9, 106, 217, 1);
    font-style: oblique;
    color:rgb(241, 239, 239)
    }
    #userInputEdit{
    position: absolute;
    width: 345px;
    height: 129px;
    left: 18px;
    top: 178px;
    border: transparent;
    background: rgba(255, 205, 108, 0.34);
    border-radius: 10px;
    color:black
    }
    #btnUpdate {
    position: absolute;
    width: 55.43px;
    height: 26.57px;
    left: 109px;
    top: 276px;
    background-color:rgba(61, 97, 122, 1);
    font-style: oblique;
    color:rgb(241, 239, 239);
    z-index:2;
    }
    #btnCancel {
    position: absolute;
    width: 55.43px;
    height: 26.57px;
    left: 173.57px;
    top: 276px;
    background-color:rgba(61, 97, 122, 1);
    font-style: oblique;
    color:rgb(241, 239, 239);
    z-index: 2;
    }

    #userLogOut{
        position: absolute;
        width: 25px;
        height:25px;
        left:340px;
        top: 15px;
        background-image: url(img/signOut.png);
    }
    /*#flex-container{
  display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top:120px;
    margin-left: -2%;
  
    justify-content:space-between;
    background-color: blue;
 
   }*/

    #sinMessage {
        
        width: 356px;
        height: 100px;
        left: 39px;
        border-radius: 15px;
        display: flex;
        padding: 23px;
        width: 270px;
        margin-top: 30px;
        margin-left: 2px;
        background-color: bisque;
        justify-content:space-between;
    
    }

    #btnDelete {
        position: relative;
        width: 20px;
        height:20px;
        left: 300px;
        top: -50px;
        /*background-image: url(img/trashCan1.png);*/
    
    }
  
   .containPost{
        
     flex-wrap:wrap;
     display: block;
     flex-direction: column;
     width: 100%;
     height: 100%;
     margin-top:120px;
     justify-content:space-between;
 
    }
 /*es cada párrafo*/
    .boxcontain{
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
    top: 130px;
    background-color: bisque;
    border-radius: 15px;
    padding: 5%;
  
    }